<html>
	<head>
		<script src="bower_components/angular/angular.js" type="text/javascript"></script>
		<script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<script src="scripts.js" type="text/javascript"></script>
	</head>
	<body ng-app="RPiWeb" ng-controller="MainController">
		<div class="container">
			<div>
				<button class="btn btn-primary" ng-click='on()'>On</button>
				<button class="btn btn-primary" ng-click='off()'>Off</button>
			</div>
			<div>
				<button class="btn btn-primary" ng-click='blink(delay)'>Off</button>
				<input type="text" ng-model="delay" />
			</div>
		</div>
	</body>
</html>